<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <button type="submit" name="save" value="save">Save</button>
        <input type="text" name="item">
        <button type="submit" name="newItem" value="newItem"> Add Item</button>
    </form>
</body>
</html>