<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
  <p> {{request.user.username}} is logged in </p>
    <table>
        <tr>
            <th>User</th>
            <th>Weekly Goals</th>
            <th>Daily Goals</th>
            <th>Verify Goals</th>
            <th>Done Goals</th>
        </tr>
       
        <tbody>
          {%for user in users%}
          <tr>
            <td>
              {{user.username}}
            </td>
            
            <td>
              
              {% for user_goal in user.goal_owner.all %}
              {% if user_goal in weekly_goals %}
              <a href="{% url 'benpelumiscrumy:moveGoal' goal_id=user_goal.goal_id %}">
              {{user_goal.goal_name}}: {{user_goal.goal_id}}
              </a>
              {% endif %}
              {% endfor %}
              
            </td>
            <td>
              {% for user_goal in user.goal_owner.all %}
              {% if user_goal in daily_goals %}
              <a href="{% url 'benpelumiscrumy:moveGoal' goal_id=user_goal.goal_id %}">
              {{user_goal.goal_name}}: {{user_goal.goal_id}}
              </a>
              {% endif %}
              {% endfor %}
            </td>
            <td>
              {% for user_goal in user.goal_owner.all %}
              {% if user_goal in verify_goals %}
              <a href="{% url 'benpelumiscrumy:moveGoal' goal_id=user_goal.goal_id %}">
              {{user_goal.goal_name}}: {{user_goal.goal_id}}
              </a>
              {% endif %}
              {% endfor %}
            </td>
            <td>
              {% for user_goal in user.goal_owner.all %}
              {% if user_goal in done_goals %}
              <a href="{% url 'benpelumiscrumy:moveGoal' goal_id=user_goal.goal_id %}">
              {{user_goal.goal_name}}: {{user_goal.goal_id}}
              </a>
              {% endif %}
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
          </tbody>
    </table>
    <a href="{% url 'benpelumiscrumy:addGoal' %}"> Add a goal here</a>
</body>
</html>